@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color: black !important;
}
.navbar-brand{
  color: black !important;
}
h1{
  font-size: 15px !important;
}
.flex-containner{
  display: flex !important;
}
.btn{
  background-color: red !important;
  color: white !important;
}
select{
  box-shadow: none !important;
  border-color:black !important ;

}
@media (max-width:768px) {
  #card{
    margin: 25px !important;
    
  }
  #price{
    font-size: 17px !important;
  }
}
.fa-plus{
  color: green;
  
}
.fa-minus{
  color: red;
}
.fa-trash{
  color: red;
}
input{
  margin-top: 10px !important;
  
}
