@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body ,html{
  margin: 0;
  
  padding: 0;
  
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color: black !important;
}
.navbar-brand{
  color: black !important;
  font-size: 35px !important;
  font-family: monospace;
  font-weight: bold !important;
  transition:  2s;
}
.navbar-brand:hover{
  transform: rotate(360deg);
  color: red !important;
}
h1{
  font-size: 15px !important;
}
.flex-containner{
  display: flex !important;
  
}
.btn{
  background-color: red !important;
  color: white !important;
  transition: 0.5s !important;
  font-size: 0.8rem !important;
}
select{
  box-shadow: none !important;
  border-color:black !important ;

}
@media (max-width:768px) {
  #card{
    margin: 25px !important;
    
  }
  #price{
    font-size: 17px !important;
  }
  
  .modal_img{
    height: 20rem !important;
  }
}
.fa-plus{
  color: green;
  
}
.fa-minus{
  color: red;
}
.fa-trash{
  color: red;
}
input{
  margin-top: 10px !important;
  
}
.myorder p{
  /* color: brown; */
  font-size: 0.8rem;
}
.myorder h2{
  color: rgb(54, 0, 0);
  font-size: 1.2rem;
}
.adminfunction{
  padding: 10px;
  background-color: rgb(0, 0, 87);
}
.adminfunction li{
  list-style-type: none !important;
  display: inline !important;
}
.adminfunction li a{
  color: white ;
  text-decoration: none;
  padding: 10px !important;
}
td, th, tr{
  text-align: center;
  font-size: 0.8rem;
}
.manu_active{
 color: yellow !important;

 
}
.btn:hover{
  border-radius: 20px;
  
}
footer{
  width: 100%;
 background-color: black;
  margin-top: auto;
  bottom: 0;
 position: fixed;
 

}
footer p{
  margin: 0;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  line-height: 2.5rem;
}
.navicon{
  width: 2rem;
  height: 2rem;
}
